body {
	margin: 1% auto;
	text-align: center;
}

table {
	font-size: 50%;
	border: 1px solid black;
	margin: 20px auto;
}

td, tr {
	border: 1px solid black;
}

td {
	height: 12px;
	width: 12px;
}

td.alive {
	background: green;
	color: green;
}

td.dead {
	background: gray;
	color: gray;
}

.gameboard {
	display: grid;
	grid-template-columns: 20% 80%;
}